<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showDish">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <p><b>Customer Comments</b>     Sort by<input type="text" ng-model="order"></p>
            <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="comment in dish.comments | orderBy: order">
                    <blockquote>
                        <p>{{comment.rating}} Stars</p>
                        <p>{{comment.comment}}</p>
                        <footer>{{comment.author}}, {{comment.date | date: 'MMM. dd, yyyy'}}</footer>
                    </blockquote>
                </li>
            </ul>
        </div>

        <div ng-controller="DishCommentController">

                <div class="media col-xs-9 col-xs-offset-1" ng-show="commentForm.$valid">
                    <blockquote>
                        <p>{{mycomment.rating}} Stars</p>
                        <p>{{mycomment.comment}} </p>
                        <footer>{{mycomment.author}}</footer>
                    </blockquote>
                </div>
            <div class="col-xs-12">
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{'has-error': commentForm.yourname.$error.required && !commentForm.yourname.$pristine}">
                        <label for="yourname" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter Your Name" ng-model="mycomment.author" required>
                            <span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" class="help-block">Your Name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.rating.$error.required && !commentForm.rating.$pristine }">
                        <label class="col-sm-2 control-label">Your Rating</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="rating" id="inlineRadio1" value="1" ng-model="mycomment.rating" required> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" id="inlineRadio2" value="2" ng-model="mycomment.rating" required> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" id="inlineRadio3" value="3" ng-model="mycomment.rating" required> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" id="inlineRadio4" value="4" ng-model="mycomment.rating" required> 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" id="inlineRadio5" value="5" ng-model="mycomment.rating" required> 5
                            </label>
                            <span ng-show="commentForm.rating.$error.required && !commentForm.rating.$pristine" class="help-block ng-hide">Your rating is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Feedback</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" id="comment" name="comment" ng-model="mycomment.comment" required>                        </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>